In [19]:
import pandas as pd
from collections import defaultdict

In [14]:
result = {}
for year in [2011, 2012, 2013, 2014, 2015, 2016]:
    for month in [1,7]:
        data = pd.read_pickle("SOB_{}_{}.pickle".format(year, month))
        edges = sum(w for _,v in data['directed'].items() for _, w in v.items())
        nodes = set()
        innodes = set()
        for src, v in data['directed'].items():
            for dst, w in v.items():
                nodes.add(src)
                nodes.add(dst)
                innodes.add(dst)
        result[(year, month)] = {'edges': edges, 'nodes': len(nodes), 'innode': len(innodes)}

In [16]:
df = pd.DataFrame(result).T

In [21]:
df

        edges  innode  nodes
2011 1  24158     657   2124
     7  22433     624   2090
2012 1  25265     660   2193
     7  27784     697   2217
2013 1  30953     792   2455
     7  30710     739   2415
2014 1  33995     780   2583
     7  33504     756   2709
2015 1  33591     815   2860
     7  34135     848   2898
2016 1  35004     834   2934
     7  33338     855   2914

In [18]:
df.edges / df.innode

2011  1    36.770167
      7    35.950321
2012  1    38.280303
      7    39.862267
2013  1    39.082071
      7    41.556157
2014  1    43.583333
      7    44.317460
2015  1    41.215951
      7    40.253538
2016  1    41.971223
      7    38.991813
dtype: float64

In [20]:
for year in [2011, 2012, 2013, 2014, 2015, 2016]:
    for month in [1,7]:
        data = pd.read_pickle("SOB_{}_{}.pickle".format(year, month))
        count = defaultdict(int)
        for src, v in data['directed'].items():
            for dst, w in v.items():
                count[dst] += w
        arr = []
        for v in count.values():
            arr.append(v)
        print year, month
        print pd.Series(arr).describe()

2011 1
count     657.000000
mean       36.770167
std       168.022975
min         1.000000
25%         1.000000
50%         2.000000
75%        10.000000
max      2895.000000
dtype: float64
2011 7
count     624.000000
mean       35.950321
std       167.573857
min         1.000000
25%         1.000000
50%         2.000000
75%        10.000000
max      2839.000000
dtype: float64
2012 1
count     660.000000
mean       38.280303
std       163.368817
min         1.000000
25%         1.000000
50%         2.000000
75%        10.000000
max      2488.000000
dtype: float64
2012 7
count     697.000000
mean       39.862267
std       197.183082
min         1.000000
25%         1.000000
50%         3.000000
75%        13.000000
max      3975.000000
dtype: float64
2013 1
count     792.000000
mean       39.082071
std       200.632791
min         1.000000
25%         1.000000
50%         3.000000
75%        13.000000
max      3988.000000
dtype: float64
2013 7
count     739.000000
mean       41.556157
std       202.277166
min         1.000000
25%         1.000000
50%         3.000000
75%        13.000000
max      3718.000000
dtype: float64
2014 1
count     780.000000
mean       43.583333
std       233.745914
min         1.000000
25%         1.000000
50%         3.000000
75%        14.000000
max      4849.000000
dtype: float64
2014 7
count     756.000000
mean       44.317460
std       246.819063
min         1.000000
25%         1.000000
50%         3.000000
75%        12.000000
max      5335.000000
dtype: float64
2015 1
count     815.000000
mean       41.215951
std       212.038121
min         1.000000
25%         1.000000
50%         3.000000
75%        13.000000
max      4209.000000
dtype: float64
2015 7
count     848.000000
mean       40.253538
std       231.253120
min         1.000000
25%         1.000000
50%         2.000000
75%        11.000000
max      5375.000000
dtype: float64
2016 1
count     834.000000
mean       41.971223
std       224.332643
min         1.000000
25%         1.000000
50%         3.000000
75%        13.000000
max      4511.000000
dtype: float64
2016 7
count     855.000000
mean       38.991813
std       189.582547
min         1.000000
25%         1.000000
50%         3.000000
75%        13.000000
max      3577.000000
dtype: float64